@model WMS.Models.Holiday

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Holiday</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
           Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolDate)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HolID } , new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
</p>
