@model WMS.Models.ReaderType

@{
    ViewBag.Title = "Details";
}
<style>  
 dd,dt {
    margin-bottom: 5px;
}
</style>
<div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h2>Reader Type Detail</h2> </div>
      </form>  
    </div>
 <hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Type Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RdrTypeName)
        </dd>

        <dt>
            Vendor Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReaderVendor.VendorName)
        </dd>
        <dd>
             @Html.ActionLink(" Edit ", "Edit", new { id = Model.RdrTypeID } , new { @class = "btn btn-warning" })
             @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
      </dd>
    </dl>
</div>
