@model WMS.Models.Location

@{
    ViewBag.Title = "Location Delete";
}
<br />
<h3 style="color:red">Are you sure you want to delete this Location?</h3>
 <div class="well bs-component">
        <form class="form-horizontal" action="~/Views/Location/Delete" enctype="multipart/form-data" method="post">
             @Html.AntiForgeryToken()
            <fieldset>
<div>
    <dl class="dl-horizontal">
        <dt>
            Location Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocName)
        </dd>


    </dl>


       @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="form-actions no-color">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" />  
                @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
<hr />
    }
<hr />
</div>
</fieldset>
            </form>
     </div>