@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="DashboardController" class="jumbotron">
<div class="row">
<div class="col-md-4">
    <form name="myForm">
    <label for="repeatSelect"> Criteria: </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="Criteria.repeatSelect" placeholder="Criteria...">
      <option ng-repeat="option in Criteria.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
  </form>
</div>
<div class="col-md-4">
<form name="myForm">
    <label for="ValueSelect"> Value: </label>
    <select name="ValueSelect" id="ValueSelect" ng-model="Value.repeatSelect">
      <option ng-repeat="option in Value.availableOptions" value="{{option.Value}}">{{option.Text}}</option>
    </select>
  </form>
</div>

                            <div class="col-md-4">
                                Date : <input id="dateFrom" ng-model="DateFrom"  class="input-sm"  type="date" />
<button ng-click="RenderGraph()">Fetch Summary</button>
                            </div>
</div>
    <div class="row">
<div class="col-md-2">
<div class="row">
<table class="table table-bordered"> 
 <tr>Visual Display</tr>
  <tr ng-repeat="x in names" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
    <td>{{ x }}</td>
   
  </tr>
</table>
</div>
<div class="row"><button ng-click="GetBestCriteria()">Evaluation for the past 20 days</button></div>

</div>
      <div class="col-md-10"> <highchart id="chart1" config="highchartsNG"></highchart>
</div> </div>

