@model WMS.Models.Section

@{
    ViewBag.Title = "Details";
}

<h2>Section Details</h2>

<div>
    
	<hr />
    <dl class="dl-horizontal">
        <dt>
          Section Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>

        <dt>
            Department Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DeptName)
        </dd>

    </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Edit", "Edit", new { id = Model.SectionID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
    <hr />
</div>
