@model WMS.Models.Division

@{
    ViewBag.Title = "Details";
}

<h2>Division Details</h2>

<div>
   
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Division Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivisionName)
        </dd>
        <dd>
             @Html.ActionLink("Edit", "Edit", new { id = Model.DivisionID },new { @class = "btn btn-warning" } )
             @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
        </dd>
    </dl>
</div>
