
@{
    ViewBag.Title = "ListOfADUser";
}

<h3>List of Active Directory Users.</h3>
<h5>Select a user to import in WMS</h5>

@using (Html.BeginForm("CreateNew", "User"))
{
     @*<input type="submit" value="Submit" />*@
    var grid = new WebGrid(Model._ADUsersAttributes, canSort: false, canPage: false);
    int rowNum = 0;
    <div>
        @grid.GetHtml(columns:
            grid.Columns
            (
        //grid.Column("Sr.No", format: item => rowNum = rowNum + 1),
       // grid.Column(header:"Select",format: @<text><input type="radio" id="cars" checked="@item.Checked" name="cars" /></text>),
grid.Column(header:"Select",format: @<text><input type="text" id="Display" value="@item.DisplayName" name="cars" /></text>),
        grid.Column("Name", format: (item) => Html.Label("DPName" + (rowNum - 1).ToString() + ".DisplayName", (string)item.DisplayName)),
 grid.Column("AD Username", format: (item) => Html.Label("ASUname" + (rowNum - 1).ToString() + ".ADUserName", (string)item.SAMName))
            ), mode: WebGridPagerModes.Numeric)
    </div>
   
}

<style type="text/css">
    table
    {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }
    table th
    {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }
    table td
    {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
    input
    {
        width:100px;
    }
</style>