@model WMS.Models.Designation

@{
    ViewBag.Title = "Designation Delete";
}

<style>
    dd, dt
    {
        margin-bottom: 5px;
    }
</style>

<h3 style="color:red">Are you sure you want to delete this Designation?</h3>
<div class="well bs-component">
        <form class="form-horizontal" action="~/Views/Designation/Delete" enctype="multipart/form-data" method="post">
             @Html.AntiForgeryToken()
            <fieldset>
<div>
    <dl class="dl-horizontal">
        <dt>
            Designation Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignationName)
        </dd>


    </dl>

   @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", null,new { @class = "btn btn-primary" })
        </div>
    </div>
    <hr />
    }
    <hr />
</div>
</fieldset>
            </form>
    </div>