@model WMS.Models.Region

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this Region?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Region Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>

    </dl>

       @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" />  
                @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
            </div>
        </div>
           <hr />
    }
    <hr />
</div>
