@model WMS.Models.Region

@{
    ViewBag.Title = "Details";
}
<style>  
 dd,dt {
    margin-bottom: 5px;
}
</style>
<div>
      <form class ="form-inline" role="form">
          <div class="form-group "> <h3>Region Details</h3> </div>
      </form>  
    </div>
 <hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Region Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>
        <dd>
            <p></p>
             @Html.ActionLink(" Edit ", "Edit", new { id = Model.RegionID } , new { @class = "btn btn-warning" })
             @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
        </dd>
    </dl>
</div>