
/*For  selected filters*/
.selected-filters-wrapper {
    background-color: #fff;
    border-left: #0094ff 2px solid;
}
.selected-filters-wrapper h3 {
    border-bottom: #0094ff 2px solid;    
}
.selected-filters-wrapper h4 {
    color: #0094ff;    
}


/* for the gridview*/

table td a {
    padding: 10px;
}
.filterHeader {
margin-bottom: 10px; padding-top: 10px;
}
        .FilterNameHeading {
        font-size:17px;
        font-weight:bold;
        }