@model WMS.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Department Details</h2>

<div>
   
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Department Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>

        <dt>
            Division Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.DivisionName)
        </dd>
        <dd>
             @Html.ActionLink(" Edit ", "Edit", new { id = Model.DeptID } , new { @class = "btn btn-warning" })
             @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary " })
        </dd>
    </dl>
</div>

