
@{
    ViewBag.Title = "Index";
    ViewBag.Title = "EditAttWizardOne";
}
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(function () {
        $('.focus :input').focus();
    });
</script>
<h3>Edit Attendance</h3><hr />
<p class="ErorrMessage">@ViewBag.Message</p>
<article class="row">
    <section class="col-md-6">
        <p style="font-size:16px; margin-bottom:30px;">Edit Manual Time In/ Out</p>
       @using (Html.BeginForm("EditAttWizardOne", "EditAttendance", FormMethod.Post))
        {
           
        <article class="row">
            <section class="col-md-9">
                
                 <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-4">
                        <label>Date</label>
                    </div>
                    <div class="col-md-6">

                        <input id="DateFrom" name="DateFrom" value="@ViewData["datef"]" type="date" class="form-control" style="width:200px"/>
                    </div>
                </div>
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-4">
                        <label>Employee No</label>
                    </div>
                    <div class="focus col-md-7">
                        <input id="EmpNo" name="EmpNo" type="text" class="form-control"/>
                    </div>
                </div>
               
                <div class="row" style="margin-left:10%; margin-bottom:3%">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-7">
                        <input type="submit" value="Next"  class="btn btn-xs btn-success"/>
                    </div>
                </div>
            </section>
            <section class="col-md-3">

            </section>
        </article>
        }
    </section>
    
</article>
<script src="@Url.Content("~/Scripts/EditAttendance.js")"></script>
@*<script src="@Url.Content("~/Scripts/Shift/GetUserSpecificShifts.js")"></script>*@

